In [1]:
import pandas as pd
import datetime as dt
df = pd.read_csv("C:/Users/rmbrm/Documents/DS_WP/Tatari/tataricsv.txt", index_col=None, header=0)

In [2]:
df

         timestamp  user_id
0   1/1/2019 10:03        1
1   1/1/2019 10:04        1
2   1/1/2019 10:04        2
3   1/1/2019 10:04        3
4   1/1/2019 10:04        3
5   1/1/2019 10:05        2
6   1/1/2019 10:05        4
7   1/1/2019 10:05        2
8   1/1/2019 10:05        2
9   1/1/2019 10:05        3
10  1/1/2019 10:05        4
11  1/1/2019 10:05        1

In [3]:
# Q1: Using the data in the dataframe, write code to return Total Visits per minute, and Unique Visitors per Minute

In [4]:
df.groupby('timestamp').count()

                user_id
timestamp
1/1/2019 10:03        1
1/1/2019 10:04        4
1/1/2019 10:05        7

In [5]:
df.groupby(["timestamp", "user_id"]).count()

Empty DataFrame
Columns: []
Index: [(1/1/2019 10:03, 1), (1/1/2019 10:04, 1), (1/1/2019 10:04, 2), (1/1/2019 10:04, 3), (1/1/2019 10:05, 1), (1/1/2019 10:05, 2), (1/1/2019 10:05, 3), (1/1/2019 10:05, 4)]

In [ ]:
# I'm a bit confused by the other questions; all the values in the table are January. #
# Also am unfamiliar with sessionize, so I think I'll leave off here